# ==================================================

# APP / APLICACIÓN

# ==================================================

APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:AQUI_VA_LA_CLAVE_BASE64
APP_DEBUG=true
APP_URL=http://localhost:7020
APP_STORAGE="./storage/"

# ==================================================

# FRONTEND / VITE

# ==================================================

FRONTEND_URL=http://localhost:5001
VITE_API_URL="${APP_URL}"
VITE_APP_NAME="${APP_NAME}"
VITE_APP_TITLE=APP_TITLE
VITE_APP_LOGO=/logo-dev.svg

# ==================================================

# PUERTOS

# ==================================================

APP_PORT=7020
WEB_PORT=5001

# ==================================================

# CORS

# ==================================================

CORS_ALLOWED_ORIGINS="*"

# ==================================================

# LOCALIZACIÓN

# ==================================================

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_MX

# ==================================================

# MANTENIMIENTO / SEGURIDAD

# ==================================================

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

# ==================================================

# LOGS

# ==================================================

LOG_CHANNEL=stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# ==================================================

# BASE DE DATOS

# ==================================================

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# ==================================================

# SESIONES

# ==================================================

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# ==================================================

# CACHE

# ==================================================

CACHE_DRIVER=file
CACHE_STORE=database
MEMCACHED_HOST=127.0.0.1

# ==================================================

# COLAS / QUEUES

# ==================================================

QUEUE_CONNECTION=database

# ==================================================

# BROADCASTING

# ==================================================

BROADCAST_CONNECTION=log

# ==================================================

# ARCHIVOS / STORAGE

# ==================================================

FILESYSTEM_DISK=local

# ==================================================

# CORREO / MAIL

# ==================================================

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="[hello@example.com](mailto:hello@example.com)"
MAIL_FROM_NAME="${APP_NAME}"
